
// FONTS
$primary-font: var(--font-source-sans);
$secondary-font: var(--font-playfair);

// COLOURS
$colors: (
  primary: #2f855a,
  secondary: #68d391,
  text: #1f2933,
  white: #ffffff,
  black:#000000,
  dark-blue:#121c2d,
  light-gray: #f7f5f2,
);