@use "../../../styles/variables.scss" as *;
@use "sass:map";


.ourTeamSection {
    background-color: map.get($colors, light-gray);
    padding: 50px 0 20px 0;

    .ourTeamWrap {
        .ourTeamTitleWrap {
            text-align: center;
            margin-bottom: 30px;

            .ourTeamTitle {
                font-weight: 400;
                font-size: 25px;
            }
        }
    }

    .ourTeamSliderWrap {
        margin-bottom: 30px;

        .ourTeamSlider {
            :global(.slick-track) {
                display: flex !important;
                flex-direction: row !important;

                :global(.slick-slide) {
                    // width: fit-content !important;
                    margin: 0 20px !important;
                    background-color: map.get($colors, white);
                    border-radius: 50%;
                    width: 120px !important;
                    height: 120px !important;
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                    overflow: hidden;
                }
            }

            .ourTeamItem {
                margin: 0 40px;

                img {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                }
            }
        }
    }
}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1200px) {
    .ourTeamSection {
        background-color: map.get($colors, light-gray);
        padding: 50px 0 20px 0;

        .ourTeamWrap {
            .ourTeamTitleWrap {
                text-align: center;
                margin-bottom: 40px;

                .ourTeamTitle {
                    font-weight: 400;
                    font-size: 60px;
                }
            }
        }

        .ourTeamSliderWrap {
            margin-bottom: 30px;

            .ourTeamSlider {
                :global(.slick-track) {
                    display: flex !important;
                    flex-direction: row !important;

                    :global(.slick-slide) {
                        // width: fit-content !important;
                        margin: 0 20px !important;
                        background-color: map.get($colors, white);
                        border-radius: 50%;
                        width: 190px !important;
                        height: 190px !important;
                        display: flex !important;
                        align-items: center !important;
                        justify-content: center !important;
                        overflow: hidden;
                    }
                }

                .ourTeamItem {
                    margin: 0 40px;

                    img {
                        width: 120px;
                        height: 120px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}